<%- include('partials/header') %>

<h2>Add Message</h2>

<form method="POST" action="/new">
  <div class="input">
    <label for="user">User</label>
    <input type="text" name="user" id="user" value="<%= user %>" />
  </div>

  <div class="input">
    <label for="message">Message</label>
    <input type="text" name="text" id="message" value="<%= text %>" />
  </div>

  <% if (error !== undefined) { %>
  <p class="error"><%= error %></p>
  <% } %>

  <button type="submit">Add Message</button>
  <a href="/"><button type="button">Return Home</button></a>
</form>

<%- include('partials/footer') %>
