<%- include('partials/header') %>

<section class="all-messages" aria-label="All Messages">
  <a href="/new"><button>Add Message</button></a>

  <% messages.map(message => { %>
  <article class="message" aria-label="Message">
    <div class="message-wrapper">
      <p class="user"><%= message.user %></p>
      <p class="text"><%= message.text %></p>
    </div>
    <p class="date-added">(<%= message.added %>)</p>
  </article>
  <% }); %>
</section>

<%- include('partials/footer') %>
